<!DOCTYPE html>
<html>
<head>
  <title>Mappedin2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">MappedIN</a>
    <p class="navbar-text pull-right">
     <a class="navbar-link" href="#">	
	Welcome
	<%if !@profile.nil? %>
	<%="#{@profile.first_name}"%></a>
	<%= link_to "Sign Out", logout_url %>
	<% end %>
  </div>
    <div class="alert alert-info">
	<%if !@profile.nil? %>
        You currently have <%="#{@connections.length}"%> connections being mapped by MappedIN!  Click a Location to drill into your connections!
	<% end %>
    </div>
</div>
</head>
<body>

<%= yield :scripts %>
<%= yield %>

</body>
</html>
